Cliente/Connected Services/ServiceReference1/wsUsuario.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Loguear">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Contrasena" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoguearResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoguearResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoguearSoapIn">
    <wsdl:part name="parameters" element="tns:Loguear" />
  </wsdl:message>
  <wsdl:message name="LoguearSoapOut">
    <wsdl:part name="parameters" element="tns:LoguearResponse" />
  </wsdl:message>
  <wsdl:portType name="wsUsuarioSoap">
    <wsdl:operation name="Loguear">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">login un Usuario</wsdl:documentation>
      <wsdl:input message="tns:LoguearSoapIn" />
      <wsdl:output message="tns:LoguearSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsUsuarioSoap" type="tns:wsUsuarioSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Loguear">
      <soap:operation soapAction="http://tempuri.org/Loguear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsUsuarioSoap12" type="tns:wsUsuarioSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Loguear">
      <soap12:operation soapAction="http://tempuri.org/Loguear" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsUsuario">
    <wsdl:port name="wsUsuarioSoap" binding="tns:wsUsuarioSoap">
      <soap:address location="https://localhost:44361/wsUsuario.asmx" />
    </wsdl:port>
    <wsdl:port name="wsUsuarioSoap12" binding="tns:wsUsuarioSoap12">
      <soap12:address location="https://localhost:44361/wsUsuario.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>